.filter {
  background-color: #272727;
  color: #fff;

  .filter__title {
    padding: 25px;
    border-bottom: 4px dashed #fff;
    font-family: "PressStart";
    font-size: 16px;
    text-transform: uppercase;
  }

  .filter__show {
    display: none;
  }
  @media screen and (max-width: 991px) {
    .filter__title {
      display: none;
    }
    .filter__show {
      display: block;
      padding: 15px;
      width: 100%;
      text-align: center;
      font-size: 14px;
      font-family: "PressStart";
      text-transform: uppercase;
    }
  }

  .filter__form {
    padding: 35px 25px 60px;

    .form__block {
      margin: 0 0 35px;

      .form__legend {
        margin-bottom: 12px;
        font-size: 14px;
        line-height: 1;
      }
    }
  }
  .filter__submit {
    width: 100%;
    margin-bottom: 15px;
  }
  .filter__reset {
    width: 144px;
  }
  @media screen and (max-width: 991px) {
    .filter__form {
      padding: 30px 20px;
    }
    .filter__submit {
      width: auto;
      margin-bottom: 0;
      margin-right: 15px;
      padding: 16px;
    }
  }
  @media screen and (max-width: 400px) {
    .filter__submit {
      width: 100%;
      margin-right: 0;
      margin-bottom: 15px;
    }
    .filter__reset {
      width: 100%;
    }
  }
}
@media screen and (max-width: 991px) {
  .filter {
    margin-bottom: 30px;
  }
}