.filter {
  background-color: #272727;
  color: #fff;

  .filter__title {
    margin: 0;
    padding: 25px;
    border-bottom: 4px dashed #fff;
    font-family: "PressStart";
    font-size: 16px;
    line-height: 1;
    text-transform: uppercase;
  }

  .filter__form {
    padding: 35px 25px 60px;

    .form__block {
      border: 0;
      padding: 0;
      margin: 0 0 35px;

      .form__legend {
        margin-bottom: 12px;
        font-size: 14px;
        line-height: 1;
      }
    }
  }

  .filter__submit {
    width: 100%;
    margin-bottom: 15px;
  }

  .filter__reset {
    width: 144px;
  }
}