.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

.breadcrumbs__item {
  position: relative
}

.breadcrumbs__item:not(:last-child) {
  padding-right: 35px
}

.breadcrumbs__item:not(:last-child)::after {
  content: '—';
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #b9b9b9
}

.breadcrumbs__link {
  font-size: 14px;
  line-height: 1;
  color: #b9b9b9;
  -webkit-transition: all .2s ease;
  transition: all .2s ease
}

.breadcrumbs__link[href]:focus, .breadcrumbs__link[href]:hover {
  color: #222
}