.cart__form {
  display: grid;
  grid-template-columns: 1fr 370px;
  grid-template-rows:auto 1fr;
  grid-gap: 20px 50px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;

  .cart__block {
    background-color: #272727;
    padding: 35px 30px;
    color: #fff;
  }
}

.cart__orders {
  list-style: none;
  padding: 0 30px 25px;
  margin: 0 -30px 25px;
  border-bottom: 4px dashed #fff;

  .cart__order {
    display: grid;
    grid-template-columns:1fr 90px;
    grid-gap: 5px 20px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    h3 {
      font-size: 16px;
      line-height: 22px;
    }

    b {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
    }

    span {
      font-size: 12px;
      line-height: 1;
      color: #9d9d9d;
    }
  }
}

.cart__total {
  p {
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}

.cart__button {
  margin-top: 20px;
  width: 100%;
}
