.content__top {
  margin-bottom: 35px;

  &.content__top--catalog {
    text-align: center;
  }

  .content__breadcrumbs {
    margin-bottom: 10px;
  }

  .content__title {
    margin: 10px 0;
    font-family: "PressStart";
    font-size: 25px;
    line-height: 1.4;
    text-transform: uppercase;

    span {
      font-family: "Roboto", "Arial", sans-serif;
      font-weight: 500;
      font-size: 18px;
      vertical-align: top;
      color: #000
    }
  }
  @media screen and (max-width: 991px) {
    .content__title {
      font-size: 20px;
    }
  }

  .content__info {
    font-weight: 300;
    line-height: 1;
    color: #9d9d9d;
  }
  @media screen and (max-width: 991px) {
    .content__info {
      font-size: 14px;
    }
  }
}
@media screen and (max-width: 991px) {
  .content__top {
    margin-bottom: 20px;
  }
}