.form__counter {
  display: flex;
  width: 150px;
  height: 70px;
  background-color: #fff;

  button, input {
    height: 70px;
    background-color: transparent;
    border: 0;
  }

  button {
    display: block;
    flex-shrink: 0;
    width: 40px;

    img {
      width: 12px;
      height: 12px;
    }
  }

  input {
    padding: 23px 5px;
    width: 70px;
    border-radius: 0;
    box-shadow: none;
    color: #222;
    font-size: 24px;
    line-height: 1;
    text-align: center
  }
}
@media screen and (max-width: 991px) {
  .form__counter {
    width: auto;
    justify-content: space-evenly;
    input {
      width: 60px;
    }
    button {
      width: 30px;
    }
  }
}