#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px
}
@media screen and (min-width: 1400px) {
  .container {
    max-width: 1330px;
  }
}

.content {
  flex-grow: 1;
  padding-top: 35px;
  padding-bottom: 100px
}
@media screen and (max-width: 991px) {
  .content {
    padding-top: 20px;
    padding-bottom: 60px;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0)
}

.button {
  background-color: transparent;
  display: inline-block;
  padding: 25px 15px;
  transition: all .2s ease;
  vertical-align: middle;
  text-transform: uppercase;
  cursor: pointer
}

.button:disabled {
  opacity: .5;
  cursor: not-allowed;
}

.button--primery {
  background-color: #9eff00;
  border: 1px solid #9eff00;
  font-family: "PressStart";
  color: #222;
  font-size: 13px
}

.button--primery:not(:disabled):focus, .button--primery:not(:disabled):hover {
  background-color: transparent;
  color: #fff
}

.button--second {
  background-color: transparent;
  border: 1px solid #fff;
  padding: 15px;
  color: #fff;
  font-size: 14px;
}

.button--second:not(:disabled):focus, .button--second:not(:disabled):hover {
  background-color: #fff;
  color: #222;
}

.button-del {
  border: 0;
  font: inherit;
  background-color: transparent;
  width: 20px;
  height: 20px;
}