.cart__item {
  display: grid;
  grid-template-columns: 120px 280px 140px minmax(70px, 120px) 20px;
  align-items: center;
  gap: 10px 20px;

  &.cart__item:not(:last-child) {
    margin-bottom: 60px;
  }

  .product__pic {
    align-self: flex-start;
    grid-column: 1/2;
    grid-row: 1/4;

    img {
      width: 120px;
      height: 120px;
      object-fit: contain;
    }
  }

  .product__info,
  .product__title {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .product__info {
    grid-row: 2/3;
    font-size: 14px;
    line-height: 1;
    color: #737373;

    span {
      color: #222;
    }

    &.product__info--color span {
      position: relative;
      display: inline-block;
      padding-left: 30px;
      vertical-align: top;
      i {
        display: block;
        position: absolute;
        left: 5px;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        border-radius: 50%;
      }
    }
  }

  .product__del {
    grid-column: 5/6;
    grid-row: 1/2;

    img {
      width: 20px;
      height: 20px;
    }
  }
}

@media screen and (max-width: 767px) {
  .cart__item {
    grid-template-columns: 120px auto 20px;

    .product__title {
      font-size: 14px;
    }

    .catalog__counter {
      grid-column: 2/3;
      grid-row: 3/4;
      justify-content: flex-start;
    }

    .product__price {
      grid-column: 2/3;
      grid-row: 4/5;
    }

    .product__del {
      grid-column: 3/4;
    }
  }
}

@media screen and (max-width: 400px) {
  .cart__item {
    grid-template-columns: 120px auto;

    .product__title {
      grid-row: 2/3;
      font-size: 14px;
    }

    .product__info {
      grid-row: 3/4;
    }

    .catalog__counter {
      grid-column: 2/3;
      grid-row: 4/5;
      justify-content: space-evenly;
    }

    .product__price {
      text-align: right;
      grid-column: 2/3;
      grid-row: 5/6;
    }

    .product__del {
      grid-column: 2/3;
      margin-left: auto;
    }
  }
}