.product {
  display: grid;
  grid-template-columns: 120px 280px 140px auto 20px;
  grid-template-rows:repeat(3, -webkit-min-content);
  grid-template-rows:repeat(3, min-content);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-gap: 10px 20px;

  &.cart__item:not(:last-child) {
    margin-bottom: 60px;
  }

  .product__pic {
    align-self: flex-start;
    grid-column: 1/2;
    grid-row: 1/4;
  }

  .product__info, .product__title {
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 16px;
    line-height: 22px;
  }

  .product__info {
    grid-row: 2/3;
    font-size: 14px;
    line-height: 1;
    color: #737373;

    span {
      color: #222;
    }

    &.product__info--color span {
      position: relative;
      display: inline-block;
      padding-left: 30px;
      vertical-align: top;
      i {
        display: block;
        position: absolute;
        left: 5px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        border-radius: 50%;
      }
    }
  }

  .product__del {
    grid-column: 5/6;
    grid-row: 1/2;
  }
}