.footer {
  background-color: #272727;

  .footer__wrapper {
    display: grid;
    padding-top: 60px;
    padding-bottom: 60px;

    .footer__links {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px 30px;
    }
    @media screen and (max-width: 576px) {
      .footer__links {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    .footer__link {
      font-size: 14px;
      line-height: 1.7;
      color: #fff;
      border-bottom: 2px dashed transparent;
      -webkit-transition: all .2s ease;
      transition: all .2s ease;
    }

    .footer__link:focus, .footer__link:hover {
      border-color: #9eff00;
    }

    .footer__link--medium {
      font-weight: 500;
    }

    .footer__desc {
      font-size: 14px;
      line-height: 1.7;
      color: #9d9d9d;
    }

    .footer__social {
      margin-left: auto;
      align-self: flex-start;

      &.social {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
      }

      .social__item + .social__item {
        margin-left: 30px;
      }

      .social__link {
        transition: all .2s ease;
        color: #9eff00;
      }

      .social__link:focus, .social__link:hover {
        opacity: .5;
      }
    }

    .footer__copyright {
      align-self: flex-end;
      font-family: "PressStart";
      font-size: 12px;
      color: #fff;
      text-transform: uppercase;
    }

    .footer__data {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      gap: 20px;
      flex-wrap: wrap;
    }
  }
}

@media screen and (min-width: 992px) {
  .footer__wrapper {
    grid-template-columns: 47% 36%;
    justify-content: space-between;

    .footer__desc {
      margin: 30px 0 37px;
    }

    .footer__copyright {
      grid-row: 3/4;
    }

    .footer__data {
      grid-column: 2/3;
      grid-row: 3/4;
    }
  }
}

@media screen and (max-width: 991px) {
  .footer__wrapper {
    gap: 20px;
  }
}