.header {
  background-color: #272727;

  .header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding-top: 23px;
    padding-bottom: 23px;
    @media screen and (min-width: 769px) {
      .header__info,
      .header__logo,
      .header__inner {
        flex: 1;
      }
    }

    .header__info {
      font-size: 16px;
      font-weight: 500;
      color: #fff;
      text-transform: uppercase;
    }

    .header__logo {
      text-align: center;
      width: 190px;
    }
    @media screen and (max-width: 768px) {
      .header__info {
        display: none;
      }
      .header__logo {
        text-align: left;
        width: 140px;
        img {
          width: 100%;
        }
      }
    }

    .header__inner {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 30px;

      .header__tel {
        flex: 0 0 auto;
        font-size: 14px;
        font-weight: 500;
        color: #fff;

        img {
          display: none;
        }
        @media screen and (max-width: 768px) {
          img {
            display: block;
            width: 32px;
          }
          span {
            display: none;
          }
        }
      }

      .header__cart {
        flex: 0 0 40px;
        position: relative;
        height: 27px;
        color: #fff;

        img {
          width: 30px;
          height: 21px;
        }

        .header__count {
          position: absolute;
          top: -5px;
          right: -3px;
          background-color: #9eff00;
          padding: 3px;
          font-family: "PressStart";
          font-size: 7px;
          line-height: 1;
          color: #222;
        }
      }
    }
  }
}