.header {
  background-color: #272727;

  .header__wrapper {
    display: grid;
    grid-template-columns: 32.5% 1fr 25.6% 40px;
    grid-column-gap: 40px;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 23px;
    padding-bottom: 23px;

    .header__info {
      font-size: 16px;
      font-weight: 500;
      color: #fff;
      text-transform: uppercase;
    }

    .header__logo {
      display: block;
      width: 190px;
      height: 33px;
      margin: 0 auto;
    }

    .header__tel {
      margin-left: auto;
      font-size: 14px;
      font-weight: 500;
      color: #fff;
    }

    .header__cart {
      position: relative;
      height: 27px;
      color: #fff;

      img {
        width: 30px;
        height: 21px;
      }

      .header__count {
        position: absolute;
        top: -5px;
        right: -3px;
        background-color: #9eff00;
        padding: 3px;
        font-family: "PressStart";
        font-size: 7px;
        line-height: 1;
        color: #222;
      }
    }
  }
}