.cart__message {
  margin: 0 0 50px;
  font-size: 16px;
  line-height: 24px;
  color: #000;
}

.dictionary {
  .dictionary__item {
    display: grid;
    grid-template-columns: 170px 1fr;
    grid-gap: 20px;
    font-size: 16px;
    line-height: 24px;

    &:not(:last-child) {
      margin-bottom: 30px
    }

    .dictionary__key {
      opacity: .6;
      font-weight: 300;
    }
  }
}