.cart__message {
  margin: 0 0 50px;
  line-height: 1.5;
  color: #000;
}

.dictionary {
  .dictionary__item {
    display: grid;
    grid-template-columns: 170px 1fr;
    gap: 20px;
    line-height: 1.5;

    &:not(:last-child) {
      margin-bottom: 30px
    }

    .dictionary__key {
      opacity: .6;
      font-weight: 300;
    }
  }
}

@media screen and (max-width: 575px) {
  .cart__message {
    font-size: 14px;
  }
  .dictionary {
    .dictionary__item {
      grid-template-columns: repeat(2, 1fr);
      font-size: 14px;
    }
  }
}